anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
azapi==3.0.8
babel==2.17.0
beautifulsoup4==4.12.3
bleach==6.2.0
bs4==0.0.2
Camelot==12.6.29
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
comm==0.2.2
contourpy @ file:///home/builder/.termux-build/python-contourpy/src/dist/contourpy-1.3.2-cp312-cp312-linux_aarch64.whl#sha256=03ab4f08f5c35886fca15816a5750386e457a1fcc8a5295efeefbcf7b0dca61f
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Elixir==0.7.1
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
fonttools==4.57.0
fqdn==1.5.1
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
idna==3.10
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib @ file:///home/builder/.termux-build/matplotlib/src/dist/matplotlib-3.10.3-cp312-cp312-linux_aarch64.whl#sha256=368a8d7534849d07bc711dac258d1df352ff585d03c2f997c45cc20ebeaf3616
matplotlib-inline==0.1.7
maturin==1.8.3
mistune==3.1.3
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.4.0
notebook_shim==0.2.4
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_aarch64.whl#sha256=3e07e01553f84586072e530c91db94e54882af68f7792181856cc69bbe8381ee
openpyxl==3.1.5
overrides==7.7.0
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pbr==6.1.1
pexpect==4.9.0
pillow @ file:///home/builder/.termux-build/python-pillow/src
platformdirs==4.3.7
prometheus_client==0.21.1
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
pyparsing==3.2.3
pypdf==5.5.0
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.24.0
Send2Trash==1.8.3
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.3
stack-data==0.6.3
Tempita==0.6.0
terminado==0.18.1
tinycss2==1.4.0
tornado==6.4.2
traitlets==5.14.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.13.2
uri-template==1.3.0
urllib3==2.3.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
xlrd==0.7.1
xlwt==0.7.2
